<section class="bg-white py-5">
    <div class="container text-center">
        <div class="row mb-4">
            <div class="col-12">
                <h2 class="fw-bold text-uppercase text-dark">Nuestros Clientes</h2>
                <p class="subtitulo">Empresas que confían en nosotros</p>
            </div>
        </div>

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="/images/clients/acp.png" class=" imagen" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/clients/asica.png" class=" imagen" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/clients/camposol.png" class="imagen" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/clients/chimu.png" class=" imagen" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/clients/rocio.png" class=" imagen" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/clients/vincorp.png" class=" imagen" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon btnPrevNext" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon btnPrevNext" aria-hidden="true"></span>
                <span class   ="visually-hidden ">Next</span>
            </button>
        </div>

        <div class="mt-4">
            <a routerLink="/contacto">
                <button class="btn boton rounded-pill px-4 shadow-sm">
                    Contacta con Nosotros
                </button>
            </a>
        </div>
    </div>
</section>

